.row
  .col-md-1
  .col-md-10
    %h1 Your sentence
    %p=@random_sentence
    .action-buttons
      %button{ onclick: 'startRecording(this);' } record
      %button{ disabled: 'disabled', onclick: 'stopRecording(this);' } stop
      = button_to "reload sentence", root_path, :method => :get
  .col-md-1
