.row
  .col-md-1
  .col-md-10
    %h1 Your sentence
    %p=@random_sentence
    .action-buttons
    = simple_form_for @user, url: login_user_users_path do |f|
      %input{ type: 'file', id: 'file', name: 'file'}
      %button{ onclick: 'startRecording(this);' } record
      %button{ disabled: 'disabled', onclick: 'stopRecording(this);' } stop
      = f.submit :submit
  .col-md-1
